<header>
  <div class="logo">
    <svg viewBox="0 0 300 300" xmlns="http://www.w3.org/2000/svg" version="1.1">
      <use xlink:href="#icon-rooster"></use>
    </svg>
  </div>
  
  <h1 class="logo-text">Schmidtyworks</h1>
  
  <div class="menu-icon open-panel"><a href="#">
    <svg viewBox="0 0 300 300" xmlns="http://www.w3.org/2000/svg" version="1.1">
      <use xlink:href="#icon-menu-icon"></use>
    </svg>
  </a></div>
<nav role="navigation">
  <div class="nav-header">
  <a href="#" class="close-panel">X
    
  </a>
  <h2>Navigation</h2>
  </div>
  
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">Wildlife</a></li>
    <li><a href="#">Web</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</nav>  
</header>