.post-haeder {
	text-align:center;
}
.module {
	.post-meta {
		font-style: italic;
		margin: 0 0 1.5em 0;
		text-align:center;
	}
}

.excerpt {
	padding-bottom:2rem;
	&:first-of-type {
		padding-top:2rem;
	}
}
.excerpt img {
	width:90%;
	height:auto;
}