$max-width-col-1: 700px;

.left {
  float:left;
  text-align:left;
  @include clearfix;
}

.right {
  float:right;
  text-align:right;
  display:block;
  @include clearfix;
}

main {
  width:100%;
  display:block;
  margin:1em auto;
  max-width:$max-width-col-1;

}


article {
  display:block;
  margin:0 auto;
}

.margin-main {
  margin: 0 1rem;
}

.col-1 {
 @include rowMachine(1,10%);
  position:relative;
  display:block;
  text-align:center;
}

.module {
  margin:0 auto;
  h1 {
    margin: .8em auto;
  }
  h2 a {
    text-decoration:none;
    color: $link;
  }
  p {
    display:block;
    margin:1.2em auto;
  }
  ul, ol {
    width:90%;
    margin:0 auto;
    max-width:650px;
  }
  li {
    text-align:left;
    margin:1em;
  }
  img {
    display:block;
    width:100%;
    height:auto;
    margin: 2em auto 0 auto;
  }
}

.quote {
  width:85%;
  background-color:$silver;
  border-left:7px solid $blue;
  font-style:italic;
  padding:1em;
}

@media all and(max-width:650px){
  .module {
    padding:0;
    h2, p {
      margin: 1rem 1rem;
    }
    p {
      line-height:1.6em;
    }
    ul, ol {
      width:95%;
      margin:1em 2em;
    }
    h1 {
      font-size:3em;
    }
    h2 {
      font-size:1.7em;
    }
    img {
      width:100%;
    }
  }
  .quote {
    width:100%;
    margin:0 1rem;
  }
}


//Box Shadow Effect Added to all Pictures 
//with <div class="img-box-shadow-effect"></div>
//on the outside of <picture>
.img-box-shadow-effect
{
    position:relative;
    box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
}
.img-box-shadow-effect:before, .img-box-shadow-effect:after
{
  content:"";
    position:absolute;
    z-index:-1;
    box-shadow:0 0 15px rgba(0,0,0,0.6);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    border-radius:100px / 10px;
}
.img-box-shadow-effect:after
{
  right:10px;
  left:auto;
  transform:skew(8deg) rotate(3deg);
}


@import '_content-posts';
@import '_content-additions';
@import '_content-articles';
@import '_content-about';
