$max-width-col-1: 700px;

main {
  width:100%;
  display:block;
  max-width:$max-width-col-1;
  margin:1em auto;
}

article {
  display:block;
  margin:0 auto;
}

.col-1 {
 @include rowMachine(1,10%);
  position:relative;
  display:block;
  margin:0 auto;
  text-align:center;
  padding: 0 2em 1.5rem 2em;
}

.module {
  margin:0 auto;
  h1 {
    margin: .8em auto;
  }
  p {
    display:block;
    margin:1.2em auto;
  }
  ul {
    width:90%;
    margin:0 auto;
    max-width:650px;
  }
  li {
    text-align:left;
    margin:1em;
  }
  img {
    display:block;
    width:100%;
    height:auto;
    margin: 2em auto 0 auto;
  }
}

@media all and(max-width:650px){
  .module {
    padding:0;
    h2, p {
      margin: 1em 1em;
    }
    p {
      line-height:1.6em;
      margin:1em 1em;
    }
    ul {
      width:95%;
      margin:1em 2em;
    }
    h1 {
      font-size:3.9em;
    }
    img {
      width:100%;
    }
  }
}
@import '_content-posts';
@import '_content-additions';




