
.page-content {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.page-wrap {
  position:relative;
  width:100%;
}

header {
  box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.5);
  background:$grey;
  padding:.67em 0;
  h1 {
    margin:0;
    color:$white;
  }
}
.logo {
  float:left;
  width:60px;
  top:0;
  height:auto;
  margin:0 1rem;
  svg {
  	height:97px;
  	width:100%;
    fill:$light-green;
  }
}
.logo-text, .logo-text-small {
  font-size:2.5rem;
	padding:1.25rem 0;
}
nav {
  position:absolute;
  right:0;
  top:38px;
  .close-panel {
    display:none;
  }
  ul {
    margin-right:1em;
  }
  li {
    display:inline-block;
    font-size:1.2em;
    line-height:1.2em;
  }
  a {
    text-decoration:none;
    padding:.5rem;
    color:#333;
    font-weight:700;
    display:block;
    color:$white;
  }
}
.menu-icon, .nav-header {
    display:none;
}

@media all and(max-width:950px) {
  header {
  	h1 {
  		font-size:2.2em;
      word-wrap:break-word;
  	}
  }
  nav {
    top:36px;
  }
}

@media all and(max-width:770px) {
  nav {
    width:70%;
    position:absolute;
    left:-70%;
    top:-24px;
    height:100%;
    margin:0;
    padding:0;
    box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
    ul {
      margin:104px 0 0 0;
      padding:0;
    }
    li {
      float: none;
      width: 100%;
      text-align: center;
      border-bottom: 1px solid #888;
      a:hover {
      color:$white;
      }
    }
    li:first-of-type {
      border-top: 1px solid #888;
    }
    a {
      font-size:1.2rem;
      padding:1em;
      color:$l-black;
    }
    li:hover {
      background-color:$light-grey;
    }
  }
  .logo {
    margin-left: 50px;
  }
  .logo-text {
    font-size:2rem;
  }
  .menu-icon{
    display:block;
    position:absolute;
    top:32px;
    left:10px;
    width:35px;
    height:32px;
    svg {
    	height:32px;
      fill: white;
    }
  }

  .close-panel {
    position:absolute;
    padding:0 1em;
    z-index:10;
  }
  a.close-panel {
    font-size:1.7em;
  }
  .nav-header {
    position:relative;
    top:50px;
    h2 {
      margin:0;
      text-align:center;
      text-transform:uppercase;
      z-index:100;
    }
  }
  .nav-logo{
      width:100%;
      text-align:center;
        h2 {
          padding:0;
          margin:.25rem 0;
        }
    }

  a.open-panel, a.close-panel, .nav-header {
    display: inline;
  }
  .openNav #page {
    left: 0;
    -webkit-transform: translate3d(70%, 0, 0);
    -moz-transform: translate3d(70%, 0, 0);
    -ms-transform: translate3d(70%, 0, 0);
    -o-transform: translate3d(70%, 0, 0);
    transform: translate3d(70%, 0, 0);
    -webkit-transition: -webkit-transform 500ms ease;
    -moz-transition: -moz-transform 500ms ease;
    -o-transition: -o-transform 500ms ease;
    transition: transform 500ms ease;
  }

  /* When the panel is closed, transition the page back to the left */
  #page {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 500ms ease;
    -moz-transition: -moz-transform 500ms ease;
    -o-transition: -o-transform 500ms ease;
    transition: transform 500ms ease;
  }
}

@media all and(max-width:470px) {
  header {

    .nav-header {
      h2 {
        font-size:1.2rem;
      }
    }
  }
  .logo-text {
  	text-align:center;
    color:$light-green;
  }
  .logo {
    display:none;
  }
  .logo svg {
    height:83px;
  }
  nav {
    ul {
      margin:87px 0 0 0;
    }
  }
}
