
.page-content {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.page-wrap {
  position:relative;
  width:100%;
}

header {
	border-bottom:2px solid #333;
}
.logo {
  float:left;
  width:100px;
  top:0;
  height:auto;
  margin:0 1rem;
  svg {
  	height:110px;
  	width:100%;
  }
}
.logo-text, .logo-text-small {
	padding:1.25rem 0;
}
nav {
  position:absolute;
  right:0;
  top:38px;
  .close-panel {
    display:none;
  }
  ul {

  }
  li {
    display:inline-block;
  }
  a {
    text-decoration:none;
    padding:.5rem;
    color:#333;
    font-weight:700;
    display:block;
  }
}
.menu-icon, .nav-header {
    display:none;
}

@media all and(max-width:950px) {
  .logo {
  	width:70px;
  	svg {
  	  height:100px;
  	}
  }
  header {
  	h1 {
  		font-size:2.2em;
  	}
  }
  nav {
    top:30px;
  }
}

@media all and(max-width:770px) {
  nav {
    width:70%;
    position:absolute;
    left:-70%;
    top:-24px;
    height:100%;
    margin:0;
    padding:0;
    box-shadow: inset -1.5em 0 1.5em -0.75em rgba(0, 0, 0, 0.25);
    ul {
      margin:104px 0 0 0;
      padding:0;
    }
    li {
      float: none;
      width: 100%;
      text-align: center;
      border-bottom: 1px solid #888;
      a:hover {
      color:$white;
      }
    }
    li:first-of-type {
      border-top: 1px solid #888;
    }
    a {
      font-size:1.2rem;
      padding:1em;
    }
    li:hover {
      background-color:$light-grey;
    }
  }
  .logo {
    margin-left: 50px;
  }
  .menu-icon{  
    display:block;
    position:absolute;
    top:25px;
    left:10px;
    width:35px;
    height:32px;
    svg {
    	height:32px;
    }
  }
  
  .close-panel {
    position:absolute;
    padding:0 1em;
    z-index:10;

  }
  .nav-header {
    position:relative;
    top:50px;
    h2 {
      margin:0;
      text-align:center;
      text-transform:uppercase;
      z-index:100;
    }
  }
  .nav-logo{
      width:100%;
      text-align:center;
        h2 {
          padding:0;
          margin:.25rem 0;
        }
    }
  
  a.open-panel, a.close-panel, .nav-header {
    display: inline;
  }
  .openNav #page {
    left: 0;
    -webkit-transform: translate3d(70%, 0, 0);
    -moz-transform: translate3d(70%, 0, 0);
    -ms-transform: translate3d(70%, 0, 0);
    -o-transform: translate3d(70%, 0, 0);
    transform: translate3d(70%, 0, 0);
    -webkit-transition: -webkit-transform 500ms ease;
    -moz-transition: -moz-transform 500ms ease;
    -o-transition: -o-transform 500ms ease;
    transition: transform 500ms ease;
  }
  
  /* When the panel is closed, transition the page back to the left */
  #page {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 500ms ease;
    -moz-transition: -moz-transform 500ms ease;
    -o-transition: -o-transform 500ms ease;
    transition: transform 500ms ease;
  }
}

@media all and(max-width:470px) {
  header {
    h1 {
      font-size:1.5rem;
    }
    .nav-header {
      h2 {
        font-size:1.2rem;
      }
    }
  }
  .logo-text {
    display:none;
  	padding-top:1.65rem;
  }
  .logo {
    float:none;
    position:relative;
    margin:0 auto;
  }
  .logo svg {
    height:83px;
  }
  nav {
    ul {
      margin:87px 0 0 0;
    }
  }
}

