*, *:before, *:after {
  margin:0;
  padding:0;
 }


@mixin clearfix {
    zoom:1;
    &:before, &:after {
        content: "\0020"; 
        display: block; 
        height: 0; 
        overflow: hidden; 
    }
    &:after {
        clear: both;
    }
}

@mixin rowMachine($numPerRow, $margin) {
  width: ((100% - (($numPerRow - 1) * $margin)) / $numPerRow);
  &:nth-child(n) {
    margin-bottom: $margin;
    margin-right: $margin;
  }
  &:nth-child(#{$numPerRow}n) {
    margin-right: 0;
    margin-bottom: 0;
  }
}

//Themeed

$black:#111111;
$light-grey:#555555;
$grey:#333333;
$white:#ffffff;
$green:rgba(95, 176, 68, 1);
$light-green:rgba(158, 211, 140, 1);

body {
  font-family:$h-font;
}

body > svg {
  display:none;
}

svg {
    height: 100%;
    width: 100%;
}



