@font-face {
    font-family: 'unica_oneregular';
    src: url('font/unicaone/unicaone-webfont.eot');
    src: url('font/unicaone/unicaone-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/unicaone/unicaone-webfont.woff2') format('woff2'),
         url('font/unicaone/unicaone-webfont.woff') format('woff'),
         url('font/unicaone/unicaone-webfont.ttf') format('truetype'),
         url('font/unicaone/unicaone-webfont.svg#unica_oneregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'droid serif';
    src: url('font/droid_serif/droidserif-webfont.eot');
    src: url('font/droid_serif/droidserif-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/droid_serif/droidserif-webfont.woff2') format('woff2'),
         url('font/droid_serif/droidserif-webfont.woff') format('woff'),
         url('font/droid_serif/droidserif-webfont.ttf') format('truetype'),
         url('font/droid_serif/droidserif-webfont.svg#droidserif-webfont') format('svg');
    font-weight: normal;
    font-style: normal;

}
$h-font:  'unica_oneregular',  sans-serif;
$b-font:  'droid serif', serif;

@font-face {
    font-family: 'statefaceregular';
    src: url('font/stateface/stateface-regular-webfont.eot');
    src: url('font/stateface/stateface-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/stateface/stateface-regular-webfont.woff2') format('woff2'),
         url('font/stateface/stateface-regular-webfont.woff') format('woff'),
         url('font/stateface/stateface-regular-webfont.ttf') format('truetype'),
         url('font/stateface/stateface-regular-webfont.svg#statefaceregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.stateface {
  font-family:statefaceregular;
}

body {
  font-family:$h-font;
  font-weight:300;
  color:$l-black;
}

h1 {
  font-size:4em;
  text-transform:uppercase;
}

h2 {
  font-size:1.8em;
  transition: font-size 0.4s ease;
  text-transform:uppercase;
  margin: 1em 0 0.2em 0;
  text-align:left;
  color:$orange-red;
}
h3 {
  font-size:1.8em;
  margin:1em 0;
}
h4 {
  font-size:1.5em;
  margin:0;
}

p {
	font-family: $b-font;
	font-size:1.1em;
	margin-bottom:1em;
	line-height:1.7em;
  color:$l-black;
}

.module {
  p, li {
    text-align:left;
	    a {
		  	color:$link;
		  	font-size:1.1em;
		  	text-decoration:none;
	  	}
	  	a:hover {
			color:$link-hover;
		}
  }
  h1 {
  	font-size:4em;
    a {
      color:$black;
      text-decoration:none;
    }
  }
  li {
  	font-family:$b-font;
    font-size:1em;
    line-height:1.5em;
  }
  
 }

 

@import '_text-prism';

pre {
  white-space: pre-wrap;
  background-color: $black;
  text-align:left;
  margin:0 auto;
  padding-left:0.5em;
  border-radius:4px;
  display:block;
 }
 @media all and(max-width:700px){
  pre {
    border-radius:0;
  }
 }





